* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#645CBB;
}

.setting {
    width: 25vw;
    height: 100vh;
    padding: 20px;
    position: fixed;
    z-index: 99;
    top: 0;right: 0;
    transition: 2s;
    background-color: #fff;
    transform: translateX(23vw);
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;

    &.active {
        transform: translate(0);
    }

    .setting-icon {
        padding: 10px;
        width: 50px;
        height: 50px;
        font-size: 40px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        outline: none;
        color: var(--primary-color);
        cursor: pointer;
        position: absolute;
        top: 50%; left: 0;
        background-color: #fff;
        transform: translate(-50%, -50%);
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    }

    .theme-title {
        font-size: 18px;
        padding-top: 10px;
    }

    .theme-color{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;

        .colors{
            width: 50px;
            height: 50px;
            cursor: pointer;
            margin: 5px;
            border: 1.5px solid var(--white-color);
        }

        #color1{
            background-color: #645CBB;
        }
        #color2{
            background-color: #B3005E;
        }
        #color3{
            background-color:#F2CD5C;
        }
        #color4{
            background-color:#939B62;
        }
        #color5{
            background-color:#4c555d;
        }
        #color6{
            background-color:#439A97;
        }
        #color7{
            background-color:#815B5B;
        }
        #color8{
            background-color:#25316D;
        }
        #color9{
            background-color: #AAE3E2;
        }
        #color10{
            background-color: #7286D3;
        }
        #color11{
            background-color: #BAABDA;
        }
        #color12{
            background-color: #CDE990;
        }
        #color13{
            background-color:#FD8A8A;
        }
        #color14{
            background-color:#F0E161;
        }
        #color15{
            background-color:#C3B091;
        }
        #color16{
            background-color:#ABD9FF;
        }
    }
}

//about-me section
.about-me {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .about-me-top-svg {
        position: absolute;
        opacity: 0.5;
        width: 460px;
        z-index: 3;
        top: 0;left: 0;
        transform: translate(-50%, -50%);
    }

    .about-me-top-bg-svg {
        position: absolute;
        opacity: 0.8;
        width: 480px;
        z-index: 1;
        top: 0;left: 20px;
        transform: translate(-50%, -50%);
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 66px;
            text-align: center;
            text-transform: capitalize;

            &::first-line {
                font-weight: bold;
                color: var(--primary-color);
            }
        }

        .description {
            text-transform: capitalize;
            color: #4c555d;
            text-align: center;
            padding-top: 10px;

            span {
                font-weight: bold;
                color: var(--primary-color);
            }
        }
    }
}

@media (max-width: 768px) {
   section {
        display: none;
   }
}