* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color:#645CBB;
}

.setting {
  width: 25vw;
  height: 100vh;
  padding: 20px;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #fff;
  -webkit-transform: translateX(23vw);
          transform: translateX(23vw);
  -webkit-box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
          box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}

.setting.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.setting .setting-icon {
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
          box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}

.setting .theme-title {
  font-size: 18px;
  padding-top: 10px;
}

.setting .theme-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.setting .theme-color .colors {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
  border: 1.5px solid var(--white-color);
}

.setting .theme-color #color1 {
  background-color: #645CBB;
}

.setting .theme-color #color2 {
  background-color: #B3005E;
}

.setting .theme-color #color3 {
  background-color: #F2CD5C;
}

.setting .theme-color #color4 {
  background-color: #939B62;
}

.setting .theme-color #color5 {
  background-color: #4c555d;
}

.setting .theme-color #color6 {
  background-color: #439A97;
}

.setting .theme-color #color7 {
  background-color: #815B5B;
}

.setting .theme-color #color8 {
  background-color: #25316D;
}

.setting .theme-color #color9 {
  background-color: #AAE3E2;
}

.setting .theme-color #color10 {
  background-color: #7286D3;
}

.setting .theme-color #color11 {
  background-color: #BAABDA;
}

.setting .theme-color #color12 {
  background-color: #CDE990;
}

.setting .theme-color #color13 {
  background-color: #FD8A8A;
}

.setting .theme-color #color14 {
  background-color: #F0E161;
}

.setting .theme-color #color15 {
  background-color: #C3B091;
}

.setting .theme-color #color16 {
  background-color: #ABD9FF;
}

.about-me {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.about-me .about-me-top-svg {
  position: absolute;
  opacity: 0.5;
  width: 460px;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-me .about-me-top-bg-svg {
  position: absolute;
  opacity: 0.8;
  width: 480px;
  z-index: 1;
  top: 0;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-me .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .container .title {
  font-size: 66px;
  text-align: center;
  text-transform: capitalize;
}

.about-me .container .title::first-line {
  font-weight: bold;
  color: var(--primary-color);
}

.about-me .container .description {
  text-transform: capitalize;
  color: #4c555d;
  text-align: center;
  padding-top: 10px;
}

.about-me .container .description span {
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  section {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */